header {
    border-radius: 10px;
    background-color: yellow;
    padding: 15px;
    margin: 10px;
    overflow: hidden;
}

header img {
    float: left;
    margin: 20px 10px 0px 10px;


    /*teszt commithoz módosítás mert öszekeverte a github fiókjaimat*/ 
}

div#wrapper {
    margin: 10px;
}


aside {
    display: table-cell;
    vertical-align: top;
}

nav {
    margin: 10px;
    border-radius: 10px;
    background-color: #FF6600;
}

nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    display: flex; 
   flex-wrap: wrap;
   justify-content: center; /* Ez helyezi középre a csoportot */
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav ul li {
    display: block;
    padding-bottom: 5px;
}

nav ul li.active {
     border-bottom: 5px solid blue !important;
}

nav ul a {
    text-decoration: none;
    color: blue;
}

div#content {
    display: table-cell;
    width: 100%;
    border-radius: 10px;
    background-color: #99FFCC;
    padding: 15px;
}
nav ul li a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    color: blue;
    font-weight: bold;
}


div#content img{
    float: right;
    width: 20em;
    height: auto;
    margin: 0 0 15px 15px;
    padding: 3px;
    border: 3px solid blue;
}

footer {
    border-radius: 10px;
    margin: 10px;
    padding: 5px 20px;
    background-color: #CC99FF;
    text-align: center;
}